input[type=radio]
    {
        width: 40px;
        height: 30px;
    }

    #purpose{
        width: 40px;
        height: 20px;
    }
    #models label
    {
        font-size: 50px;
        color: black;
        font-weight: bold;
    }
    input[type=number]
    {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: flex;
        border: 2px solid blue;
        border-radius: 15px;
    }
    input[type=submit] {
        width: 15%;
        background-color: #4CAF50;
        color: white;   
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: blue;
    }
    h3{
        color:black;
    }

    #headings {
        font-size: 35px;
        font-family: cursive;
        color:black;
    }



    #form h1{
        font-size: 50px;
        color: white;
    }

    #models h1{
        font-size: 60px;
        color: yellow;
    }

    body {
        background-image: url('/static/loan.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    fieldset {
        width: 98%;
        padding: 10px;
        border: none;
    }
    label{
        font-size: 25px;
        color:chartreuse;
    }

    h4 {
        font-size: 25px;
        color:chartreuse;
    }