<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/file.css">
    <title>Loan Payment Predictor</title>
</head>
<body>
    <header>
        <div id="headings">
            <center>
                <h1>Loan Payment Prediction<br>by Machine Learning</h1>
            </center>
        </div>
    </header>
    <div id='form'>
        <form method="GET" action="/predict" enctype="multipart/form-data">
            <fieldset id="models"> 
                <center>
                    <h1>Select Machine Learning Model</h1>
                    <input type="radio" name="model" value="dt" required>
                    <label for="dt">Decision Tree</label>
                     &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                    <input type="radio" name="model" value="rfc" required>
                    <label for="rfc">Random Forest Classifier</label>
                </center>
                </fieldset>
                <br>
            <fieldset>
                <center>
                    <h1>Enter the details of the Customer</h1>
                    <h4>Does the customer meets the Credit underwriting Criteria?</h4>
                <input type="radio" name="policy" value=1 required>
                <label for="yes">Yes</label>
                 &ensp;&ensp;&ensp;&ensp;&ensp;
                 <input type="radio" name="policy" value=0 required>
                <label for="no">No</label><br><br>

                <h4>Purpose of the Loan</h4>
                <input type="radio" id="purpose" name="purpose" value=1 required>
                <label for="creditcard">Credit Card</label>
                <input type="radio" id="purpose" name="purpose" value=2 required>
                <label for="debt">Debt Consolidation</label>
                <input type="radio" id="purpose" name="purpose" value=3 required>
                <label for="education">Educational Purpose</label>
                <input type="radio" id="purpose" name="purpose" value=4 required>
                <label for="home">Home Improvement</label>
                <input type="radio" id="purpose" name="purpose" value=5 required>
                <label for="purchase">Major Purchase</label>
                <input type="radio" id="purpose" name="purpose" value=6 required>
                <label for="business">Small Business</label>
                <br><br>

                <label for="int_rate">Interest Rate </label>
                <input type="number" step="0.01" name="int_rate"
                    placeholder="Interest Rate" required>
                
                <label for="installment">Monthly installments owed by the borrower if the loan is funded</label>
                <input type="number" step="0.01" name="installment"
                    placeholder="Monthly Installment" required>

                <label for="natural_log">Natural log of the self-reported annual income of the borrower</label>
                <input type="number" step="0.0001" name="natural_log" required>
                
                <label for="dti">Debt-to-Income Ratio of the borrower</label>
                <input type="number" step="0.001" name="dti"
                    placeholder="Debt-to-Income Ratio" required>

                <label for="fico">FICO credit score of the borrower</label>
                <input type="number" step="0.001" name="fico"
                    placeholder="FICO credit score" required>

                <label for="cline">Number of days the borrower has had a credit line</label>
                <input type="number" name="cline"
                    placeholder="Number of days the borrower has had a credit line" required>
                
                <label for="rbal">Borrower's revolving balance</label>
                <input type="number" step="0.01" name="rbal"
                    placeholder="Borrower's revolving balance" required>

                <label for="rutil">Borrower's revolving line utilization rate</label>
                <input type="number" step="0.01" name="rutil"
                    placeholder="Borrower's revolving line utilization rate" required>
                
                <label for="inq6m">Borrower's number of inquiries by creditors in the last 6 months</label>
                <input type="number" name="inq6m"
                    placeholder="Inquiries by creditors in the last 6 months" required>

                <label for="dead2y">Number of times the borrower had been 30+ days past due on a payment in the past 2 years</label>
                <input type="number" name="dead2y"
                    placeholder="Number of times the borrower had been 30+ days past due on a payment in the past 2 years" required>
                
                <label for="pubrec">Borrower's number of derogatory public records</label>
                <input type="number" name="pubrec"
                    placeholder="Borrower's number of derogatory public records" required>

                <br>
                
                <center>
                    <input type="submit" value="Predict"></button>
                </center>
            </center>
            </fieldset>
        </form>
    </div>
</body>

</html>